.countdown {
	
	color: #FFF;
	
	position: absolute;
	bottom: 16px;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 6px;
	overflow: hidden;

	> * {
		flex: 1;
	}

	@media #{$medium} {
		
	}

	@media #{$large} {
		// padding-top: 24px;
	}
}

.countdown__timer {
	background: rgba(143, 143, 143, 0.5);
	display: flex;
	border-bottom: 1px solid rgba(#FFF, 0.4);
	padding-top: 8px;
	padding-bottom: 8px;

	@media #{$medium} {
		padding-top: 16px;
		padding-bottom: 16px;
	}

	@media #{$large} {
		// padding-bottom: 40px;
	}
}

.countdown__date {
	padding-top: 8px;
	padding-bottom: 8px;
	background: rgba(#FFF, 0.4);
	color: palette(brightblue);
	font-size: 12px;
	// font-weight: 700;
	text-transform: uppercase;
	line-height: 1.2;

	@media #{$medium} {
		font-size: 15px;
		line-height: 1.5;
	}
}

.countdown__item {
	padding: 0 8px;

	&:not(:first-child) {
		border-left: 1px solid rgba(#FFF, 0.4);
	}

	.time {
		font-weight: 800;
		line-height: 1;
		// font-size: 16px;
	}

	.label {
		font-size: 10px;
		line-height: 1;
		text-transform: uppercase;
		font-weight: 300;
	}

	@media #{$medium} {
		padding: 0 16px;

		.time {
			font-size: 40px;
		}

		.label {
			font-size: 16px;
		}
	}

	@media #{$large} {
		padding: 0 40px;
	}
}