.filter-box {
	background-color: #f8f8f8;

	.btn-toggle {
		width: 100%;
		text-align: left;
		display: flex;
		align-items: center;
		padding: 4px 0;
		border: none;
		background: none;

		.btn-text {
			flex-grow: 1;
			font-weight: 600;
			font-size: 1.15em;
		}

		.btn-icon {
			position: relative;
			display: block;
			color: $black30;
		}
	}
}